@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");


.connection-shell{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    width:75%;
    height: 92.5vh;
    margin: 0 auto;
    margin-top: 1.5%;
    background-color: rgb(250, 248, 247);
    
}

.password-input-area{
    position: absolute;
    width:650px;
    height:375px;
    background-color: rgba(240, 240, 240, 0.95);
    border: 0.75px solid black;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 5px 5px 10px gray;
    font-family: "Laila", serif;
}

.password-input-area h3{
    font-size: 18px;
    font-weight: 550;
    padding: 2%;
    border-bottom: 0.5px solid gray;
}

.password-input-area p{
    text-align: left;
    padding-left: 2.5%;
}

.password-input-area input{
    margin-left: -15%;
    width:80%;
    height:45px;
    padding: 2%;
    text-align: left;
}

.connection-header{
    display: flex;
    justify-content: space-around;
    height:10%;
    min-height: 0px;
    margin: 0 auto;
    margin-top: 2.5%;
    padding-top: 2.5%;
    width:95%;
}

.connection-header h1{
    font-family: Arial, Helvetica, sans-serif;
    width:90%;
    font-size: 32px;
    text-align: left;
    font-weight: 600;
}
.connection-header p{
    font-family: "Laila", serif;
    width:90%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.game-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height:50px;
    margin-left: 5%;
}

.game-stats p{
    font-family: "Laila", serif;
    font-size: 16px;
    font-weight: 550;
}

.lives-counter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:245px;
    height:30%;

}




.central-connection-display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 248, 247);
    margin-bottom: 0.5%;
}


.connection-boxes{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    width:80%;
    height: 65vh;
    padding:2.5%;
    margin: 0 auto;
    background-color: rgb(250, 248, 247);
}

.category-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:830px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.category-display h1{
    font-size: 20px;
    font-weight: 1000;
}

.category-display p{
    font-size: 16px;
    font-weight: 570;
}



.connection-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 105px;
    margin: 5px;
    background-color: rgb(238, 238, 229);
    border-radius: 10px;
    cursor: default;
}

.connection-box p{
    font-weight: 1000;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    /* word wrapping */
    max-width: 95%;
    min-width: 0;  
    overflow-wrap: break-word;
    white-space: normal; 
}


.connection-features{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:25%;
    height:6vh;
}

.submit-connection-button{
    min-width: 150px;
    min-height: 35px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-weight: 900;
}
/* 
@media only screen and (max-width:1350px) {    
    .connection-box{
        width:120px;
        height: 80px;
        margin: 4px;
    }
    
}

@media only screen and (max-width:1350px) {
    .category-display{
        width:585px;
        height: 80px;
        margin: 4px;
    }
    .category-display h1{
        font-size: 18px;
    }
    .category-display p{
        font-size: 12px;
    }
    
    .connection-box{
        width:140px;
        height: 80px;
        margin: 4px;
    }
    
}

@media only screen and (max-width:1150px) {
    .category-display{
        width:545px;
        height: 80px;
        margin: 4px;
    }
    
    .connection-box{
        width:130px;
        height: 80px;
        margin: 4px;
    }
    
} */


 
@media only screen and (max-width:1500px) {
    .connection-shell{
        width:100%;
        height:85vh;
        margin: 0 auto;
    }
    .connection-header{
        margin-left: 5%;
    }
    /* .connection-boxes{
        width:100%;
        padding:2.5%;
        margin-left: 5%;
        height: 57.5vh;
    } */
    .connection-boxes{
        height: 65vh;
    }

    .category-display{
        width:905px;
        height: 100px;
        margin: 5px;
    }
    
    .connection-box{
        width:220px;
        height: 100px;
        margin: 3px;
    }
    
}

@media only screen and (max-width:1250px) {

    .category-display{
        width:775px;
        height: 100px;
        margin: 5px;
    }
    
    .connection-box{
        width:182.5px;
        height: 90px;
        margin: 3px;
    }
    
}

@media only screen and (max-width:1025px) {
    .category-display{
        width:655px;
        height: 90px;
        margin: 2.5px;
    }
    .connection-box{
        width:150px;
        height: 90px;
        margin: 2.5px;

    }
    
}

@media only screen and (max-width:945px) {
    .category-display{
        width:575px;
        height: 85px;
        margin: 4px;
    }

    .connection-box{
        width:135px;
        height: 85px;
        margin: 4px;
    }
    
}

@media only screen and (max-width:805px) {
    .category-display{
        width:495px;
        height: 80px;
        margin: 4px;
    }
    .connection-box{
        width:117.5px;
        height: 80px;
        margin: 4px;
    }
    .category-display h1{
        font-size: 14px;
    }
    .category-display p{
        font-size: 11px;
    }
    .connection-box p{
        font-size: 11px;
    }
    .password-input-area{
        width:420px;
        height:225px;
        box-shadow: 2.5px 2.5px 5px gray;
    }
    
    .password-input-area h3{
        font-size: 14px;
        font-weight: 550;
        padding: 1.5%;
        border-bottom: 0.5px solid gray;
    }
    
    .password-input-area p{
        font-size: 11px;
        text-align: left;
        padding-left: 2.5%;
    }
    
    .password-input-area input{
        margin-left: -15%;
        width:80%;
        height:25px;
        padding: 2%;
        text-align: left;
    }
    
}

@media only screen and (max-width:675px) {
    .connection-boxes{
        height: 60vh;
    }
    .category-display{
        width:420px;
        height: 70px;
        margin: 2.5px;
    }
    .connection-box{
        width:100px;
        height: 70px;
        margin: 2.5px;
    }  
    .category-display h1{
        font-size: 12px;
    }
    .category-display p{
        font-size: 10px;
    }
    .connection-box p{
        font-size: 10px;
    }
}

@media only screen and (max-width:600px) {
    .category-display{
        width:380px;
    }
    .connection-box{
        width:90px;
        height: 70px;
        margin: 2.5px;
    }  


}

@media only screen and (max-width:520px) {
    .category-display{
        width:415px;
        height: 70px;
        margin: 2.5px;
    }
    .connection-box{
        width:80px;
        height: 65px;
        margin: 2.5px;
        
    }  

}

@media only screen and (max-width:450px) {
    .game-stats{
        flex-wrap: wrap;
        width:70%;
        height:80px;
        margin-bottom: 2.5%;
    }
    .connection-boxes{
        height: 50vh;
    }
    .category-display{
        width:315px;
        height: 70px;
        margin: 2.5px;
    }
    .connection-box{
        width:67.5px;
        height: 65px;
        margin: 2.5px;
    }  
    .connection-box p{
        font-size: 9px;
    }
    .password-input-area{
        width:315px;
        height:250px;
        box-shadow: 2.5px 2.5px 5px gray;
        font-size: 7px;
    }
}